<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <title>AKD</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="left">Adarsh's Portfolio</div>
            <div class="right">
                <ul>
                    <li><a href="{{ url_for('home')}}" class="Selected">Home</a></li>
                  <li><a href="{{ url_for('login')}}">LogIn</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
      <section class="firstsection">
            <div class="firstsectionlcent">I'm <span class="myname">Adarsh</span>
                <div>I am a
                    <span id="element"></span>
                </div>
              </section>
    </main>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['B.tech(CS) student as well as Cyber-security student and a CTF player . This is simple web-app made with Flask with login nd signup working feature.'],
            typeSpeed: 50,
        });
</body>
<script>
    alert("This is a development server.") 
</script> 

</html>
